:root, [data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
    --window-color: lightgray;
}

[data-theme="light"] {
    --bg-color: lightgray;
    --text-color: black;
    --window-color: white;
}

/**************************************************************
 * Styling for page body and margins
 *************************************************************/
.container {
    margin: 1em;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/*************************************************************
 * Styles for the navigation bar
 ************************************************************/
.nav {
    background-color: rgb(107, 25, 58);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    margin: 0;
    list-style: none;
    height: 25px;
}

.nav-item {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: rgba(255,255,255, 0.75);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
    background-color: rgb(156, 50, 93);
    color: white;
}

.icon {
    background-color: rgb(107, 25, 58);
    color: rgba(255,255,255, 0.75);
    border-radius: 100px;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.icon:hover {
    background-color: rgb(156, 50, 93);
    color: white;
}

/****************************************************************
 * Styling for page content
 ***************************************************************/
h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
}

hr {
    border-width: 1px;
    border-color: rgb(107, 25, 58);
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.digital-text {
    font-family: 'Courier New', Courier, monospace;
}